.cask
auto-save-list
/ac-comphist.dat
*.elc
session.*

/.python-environments/
tramp
eshell/
projectile-bookmarks.eld
/recentf
/projectile.cache

curl-cookie-jar
network-security.data
elpa/
.mc-lists.el
.sx/
haskell-fun
